/* .ylcf-input-injected */
.ylcf-input-injected .ytp-chrome-bottom > .ytp-chrome-controls {
  display: flex;
}
.ylcf-input-injected
  .ytp-chrome-bottom
  > .ytp-chrome-controls
  > .ytp-left-controls {
  flex: unset;
}
/* .ylcf-small-input */
.ylcf-small-input
  .ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-author-chip {
  display: none;
}
/* .ylcf-focused-input */
.ylcf-focused-input .html5-video-player .ytp-chrome-bottom {
  opacity: 1 !important;
}
.ylcf-focused-input .html5-video-player .ytp-gradient-bottom {
  display: block !important;
  opacity: 1 !important;
}
/* .ylcf-focused-input.ylcf-grow-input */
.ylcf-focused-input.ylcf-grow-input
  .ytp-chrome-bottom
  > .ytp-chrome-controls
  > .ytp-left-controls,
.ylcf-focused-input.ylcf-grow-input
  .ytp-chrome-bottom
  > .ytp-chrome-controls
  > .ytp-right-controls {
  width: 0 !important;
}
.ylcf-focused-input.ylcf-grow-input
  .ylcf-controller
  > #message-buttons
  > #send-button {
  display: none;
}
/* .ylcf-input-injected.ylcf-grow-input */
.ylcf-input-injected.ylcf-grow-input
  .ytp-chrome-bottom
  > .ytp-chrome-controls
  > .ytp-left-controls,
.ylcf-input-injected.ylcf-grow-input
  .ytp-chrome-bottom
  > .ytp-chrome-controls
  > .ytp-right-controls {
  overflow: hidden;
}

/* .ylcf-flow-message */
.ylcf-flow-message {
  align-items: center;
  display: flex;
  font-weight: bold;
  left: 0;
  position: absolute;
  vertical-align: bottom;
  white-space: nowrap;
  box-sizing: border-box;
  user-select: none;
}

/* .ylcf-control-button */
.ylcf-control-button > svg {
  fill: white;
}

/* Hide .ytp-fullerscreen-edu-button if .ylcf-controller exists  */
.ylcf-controller + .ytp-right-controls .ytp-fullerscreen-edu-button {
  display: none;
}

/* .ylcf-controller */
.ylcf-controller {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
/* .ylcf-controller > #top */
.ylcf-controller > #top {
  display: flex;
  flex: 1;
  min-width: 0;
  align-items: center !important;
  height: 100%;
  margin: 0 8px 0 0 !important;
}
.ylcf-controller > #top > yt-img-shadow#avatar {
  border-radius: 50%;
  margin: 0 8px;
  margin-bottom: 1px;
  overflow: hidden;
}
.ylcf-controller > #top > yt-img-shadow#avatar > img {
  width: 28px;
  height: 28px;
}
.ylcf-controller > #top > #input-container {
  display: flex;
  flex: 1;
  min-width: 0;
  align-items: center;
  height: 100%;
}
.ylcf-controller > #top > #input-container > yt-live-chat-author-chip {
  display: flex;
  margin-right: 8px;
  max-width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-author-chip
  > #author-name {
  color: inherit;
  user-select: none;
}
.ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer {
  position: relative;
  display: flex;
  flex: 1;
  min-width: 0;
  align-items: center;
  height: 100%;
  margin-top: 0;
}
.ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer
  > #label {
  color: inherit;
  position: absolute;
  top: unset !important;
  left: 1px;
  right: 1px;
  padding-left: 4px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer[has-text]
  > #label {
  opacity: 0;
}
.ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer
  > #input {
  flex: 1;
  min-width: 0;
  height: 32px;
  line-height: 32px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 4px;
  outline: none;
  transition: border-color 0.5s;
  white-space: nowrap;
}
.ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer[focused]
  > #input {
  border-color: var(
    --yt-live-chat-text-input-field-active-underline-color,
    hsl(206.1, 79.3%, 52.7%)
  );
}
/* .ylcf-controller > #message-buttons */
.ylcf-controller > #message-buttons {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: initial;
}
.ylcf-controller > #message-buttons > #count {
  margin-right: 0;
  color: inherit;
  user-select: none;
}
.ylcf-controller > #message-buttons > #send-button > yt-button-renderer {
  color: inherit !important;
}
.ylcf-controller
  > #message-buttons
  > #send-button
  > yt-button-renderer
  > .yt-button-renderer {
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
}
.ylcf-controller
  > #message-buttons
  > #send-button
  > yt-button-renderer
  > .yt-button-renderer
  > yt-icon-button#button {
  color: inherit;
  display: block;
  height: 24px;
  width: 24px;
  padding: 0;
}
.ylcf-controller
  > #message-buttons
  > #send-button
  > yt-button-renderer
  > .yt-button-renderer
  > yt-icon-button#button[disabled] {
  cursor: initial;
  opacity: 0.5;
}
.ylcf-controller
  > #message-buttons
  > #send-button
  > yt-button-renderer
  > .yt-button-renderer
  > yt-icon-button#button
  paper-ripple {
  display: none;
}
.ylcf-controller > #message-buttons > #countdown {
  position: absolute;
  margin-right: 0;
  left: unset;
  right: calc((48px - 24px) / 2);
  width: 24px;
  height: 24px;
}

/* .ylcf-controller for fullscreen */
.html5-video-player.ytp-fullscreen .ylcf-controller > #top {
  margin: 0 16px 0 0 !important;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #top
  > yt-img-shadow#avatar {
  margin: 0 16px;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #top
  > yt-img-shadow#avatar
  > img {
  width: 32px;
  height: 32px;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-author-chip {
  display: none;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer {
  font-size: unset;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer
  > #label {
  padding-left: 8px;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #top
  > #input-container
  > yt-live-chat-text-input-field-renderer
  > #input {
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #message-buttons
  > #send-button
  > yt-button-renderer
  > .yt-button-renderer {
  width: 54px;
  height: 54px;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #message-buttons
  > #send-button
  > yt-button-renderer
  > .yt-button-renderer
  > yt-icon-button#button {
  width: 36px;
  height: 36px;
}
.html5-video-player.ytp-fullscreen
  .ylcf-controller
  > #message-buttons
  > #countdown {
  right: calc((54px - 36px) / 2);
  width: 36px;
  height: 36px;
}
